body{
    background-color: rgb(90, 113, 163);
}
.container{
    margin: auto;
    padding: 0px 30px 30px;
    width: fit-content;
    background-color: rgb(204, 203, 203);;
    align-content: center;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgb(64, 63, 63);
}
button{
    font-size: medium;
    background-color: rgb(56, 192, 189);
    border-radius: 5px;
    cursor: pointer;
    padding: 3px 10px;
}
input{
    height: 25px;
    width: 260px;
    border-radius: 5px;
}
button:hover{
    background-color: rgb(46, 155, 153);
}