body{
    background-color: black;
}
.main{
    margin-top: 0%;
    background-image: url("sky.jpg");
    width: auto;
    height: 900px;
}
.container{
    text-align: center;
    margin-top: 1%;
    margin: 0 auto;
}
img{
    height: 130px;
    width: 100px;
}